<!DOCTYPE html>
<html>
<%- include('partials/head', {slug: "Movie Update" }) %>

  <body class="container">
    <%- include('partials/navbar') %>
      <% const errorMap={} %>
        <% errors.forEach(err=> { %> <% errorMap[err.path]=err.msg; %>
            <% }); %>
              <form method="post" action="/movies" class="mt-5 col-7" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title"
                    placeholder="It, Rocky, the Godfather..." autofocus />
                  <% if (errorMap.title) { %>
                    <p class="alert alert-danger">
                      <%= errorMap.title %>
                    </p>
                    <% } %>
                </div>
                <div class="mb-3">
                  <label for="year" class="form-label">Year</label>
                  <input type="number" class="form-control" id="year" name="year" placeholder="Year of release..." />
                  <% if (errorMap.year) { %>
                    <p class="alert alert-danger">
                      <%= errorMap.year %>
                    </p>
                    <% } %>
                </div>
                <div class="mb-3">
                  <label for="director" class="form-label">Director</label>
                  <input type="text" class="form-control" id="director" name="director"
                    placeholder="Pedro Almodóvar, John Ford..." />
                  <% if (errorMap.director) { %>
                    <p class="alert alert-danger">
                      <%= errorMap.director %>
                    </p>
                    <% } %>
                </div>
                <div class="mb-3">
                  <label for="duration" class="form-label">Duration</label>
                  <input type="number" class="form-control" id="duration" name="duration"
                    placeholder="Length in minutes..." />
                  <% if (errorMap.duration) { %>
                    <p class="alert alert-danger">
                      <%= errorMap.duration %>
                    </p>
                    <% } %>
                </div>
                <div class="mb-3">
                  <label for="poster" class="form-label">Poster</label>
                  <input type="file" class="form-control" id="poster" name="poster" accept="image/*" />
                  <% if (errorMap.poster) { %>
                    <p class="alert alert-danger">
                      <%= errorMap.poster %>
                    </p>
                    <% } %>
                </div>
                <div class="mb-3">
                  <label for="genre" class="form-label">Genres</label>
                  <div class="row">
                    <% genres.forEach((genre)=> { %>
                      <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="genre" value="<%= genre %>"
                            id="genre-<%= genre %>" />
                          <label class="form-check-label" for="genre-<%= genre %>">
                            <%= genre %>
                          </label>
                        </div>
                      </div>
                      <% }); %>
                  </div>
                  <% if (errorMap.genre) { %>
                    <p class="alert alert-danger">
                      <%= errorMap.genre %>
                    </p>
                    <% } %>
                </div>
                <div class="mb-3">
                  <label for="rate" class="form-label">Rating</label>
                  <input type="text" class="form-control" id="rate" name="rate"
                    placeholder="A number from 0 to 10..." />
                  <% if (errorMap.rate) { %>
                    <p class="alert alert-danger">
                      <%= errorMap.rate %>
                    </p>
                    <% } %>
                </div>
                <div class="mb-3">
                  <label for="synopsis" class="form-label">Synopsis</label>
                  <textarea class="form-control" id="synopsis" name="synopsis"
                    placeholder="Movie plot (no spoilers, please...)" rows="5"></textarea>
                  <% if (errorMap.synopsis) { %>
                    <p class="alert alert-danger">
                      <%= errorMap.synopsis %>
                    </p>
                    <% } %>
                </div>
                <div class="btn-group" role="group">
                  <a href="/movies" class="btn btn-outline-secondary">Back to movies</a>
                  <button type="submit" class="btn btn-outline-warning">
                    Add New Movie
                  </button>
                </div>
              </form>
  </body>

</html>